$brand-dark-color: #6bba54;
$brand-light-color: #fff;

$accent-color: $brand-dark-color;


$link-color: $brand-light-color;
$dark-text-color: #000;
$light-text-color: #fff;

$btn-primary-color: $brand-light-color;
$btn-primary-bg: $brand-dark-color;
$btn-primary-active-bg: #3b875d;

$btn-accent-color: #4eba6f;

$logo-size: 35px;
